# Virtual Environment
# Exclude the entire folder containing your dependencies
venv/
.venv/
env/
ENV/

# Python Cache
# Exclude compiled bytecode and cache directories
__pycache__/
*.py[cod]
*$py.class

# database related 
kopani-db/
json/
data/
kopani.sqlite

# Scraping & Logs
# Beautiful Soup projects often generate log files or temporary outputs
*.log
scraped_data/
tmp/
amended*
evergreen/json_files/
fw_2025_issue_exploratory/
fw_2019_test_scraper_0_2_3/
_analysis/

# scraped data must never be made public -- personal use only
pieces_json*
threepenny_outputs/
evergreen_fw25_pieces/
evergreen/fw*
granta_pieces/
*_20*_issue
offing_pieces/

# Environment Variables
# Keep sensitive keys and local settings private
.env

# IDE / Editor Settings
# Exclude folder-specific settings (e.g., VS Code or PyCharm)
.vscode/
.idea/


# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env.production

# macOS-specific files
.DS_Store
